.secao-listar-chamado{
    display: flex;
    flex-direction: column;

    .tabela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .input-filtro{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 950px;
            input{
                width: 240px;
                height: 30px;
                margin: 60px;
                border-radius: 8px;
            }
        }
        

    }
    table {
        width: 100%;
        max-width: 100px;
        background-color: #000;
        margin: 55px; 
        border-collapse: collapse;
        th {
            text-align: left;
            padding: 15px 90px;
            color: #fff;
        }
        td {
            padding: 30px;
            border: 1px solid #E7ECEF;  
            font: 500 15px 'Roboto';
            text-align: center;
        }

        tbody{
            background-color: #fff; 
        }
    }

    .botao-chamado{
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 50px;
        margin-left: 950px;
        button{
            width: 256px;
            height: 40px;     
            background-color: #DB2B39;
            color: #fff;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        
    }
}